.add-cart-btn {
    max-width: 20rem;
    min-width: 200px;
}

.add-cart-btn:hover {}

.add-cart-btn img {
    max-height: 40px;
}

.book {
    width: 20vw;
    height: auto;
}

.book-description {
    font-size: 0.9rem!important;
}