@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap");
:root {
  --primary-orange: hsl(26, 100%, 55%);
  --white: hsl(0, 0%, 100%);
  --pink: #e36e9b;
  --grey-bg: hsl(219, 9%, 45%);
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  min-height: 100%;
}

a:hover {
  text-decoration: none;
}

.book {
  border-radius: 10%;
}

.btn-warning {
  background-color: var(--primary-orange) !important;
  color: var(--white) !important;
  border-color: var(--primary-orange) !important;
}
