.bg {
  /* The image used */
  background-image: url("../images/about.svg");

  /* Full height */
  /* height: 100vh; */

  /* Center and scale the image nicely */
  background-position: top center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  overflow: hidden;
  /* position: relative; */
  opacity: 0.8;
}

.about {
  /* position: absolute; */
  /* height: 100%; */
  /* color: white; */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px, 10px
}

.jumbotron-content {
  padding-left: 120px;
}

.about-jumbo h1 {
  /* background-color: linear-gradient(
    rgba(250, 250, 250, 0.583),
    rgba(247, 239, 239, 0.919)
  )  !important */
  /* background-color: rgb(111, 111, 116) !important ; */
  /* color: white; */
   color: black;
  font-size: 2rem;
}