.form-control {
    border: 0.5px solid var(--primary-orange)!important
}

.form-control:focus {
    box-shadow: none!important;
    ;
}

ul {
    list-style-type: none;
}

li:hover {
    background-color: #dedfe0;
}

#search-icon {
    max-height: 38px;
}

.search-form {
    min-width: 75%;
}

input:focus {
    outline: none;
}

#inlineFormInputGroup::placeholder {
    text-overflow: ellipsis;
}